h1 {
	color: black;
	text-align: left;
	font-size: 300%;
	position: relative;
	top: 20px;
	left: 20px;
}



#box1 {
	width: 600px;
	height: 300px;
	color: black;
	margin: 60px 25px;
}

#box2 {
	width: 600px;
	height: 100px;
	color: black;
	margin: 60px 25px;
	position: relative;
	bottom: 230px;
}

p {
	font-size: 250%;
	color: black;
}

#background {
	position: relative;
	top: 100px;
}

#myactive {
	position: relative;
	bottom: 70px;
	left: 25px;

}

#since {
	position: relative;
	bottom: 210px;
	left: 1px;

}

#box3 {
	width: 600px;
	height: 300px;
	color: black;
	position: relative;

}

.first {
	position: relative;
	top: 30px;
}

sub {
	font-size:125%;
	color: black;
}

img {
	border-style: solid ;
	border-color: lightseagreen ;
	border-width: 4px;
}

.sarah {
	size: width:200px; height:400px;
	position:absolute;
	top: 10px;
	right: 80px;
}

body {
	background-color: lightskyblue ;
}

#all {
	position: relative;
	bottom: 40px;
}

.container {
	width: 80%;
	margin-left: 20px;
}

header {
	background: lightseagreen;
}

nav {
	float: right;
}

header::after {
	content:'';
	display: table;
	clear: both;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 10px;
	padding-top: 25px;
	padding-bottom: 30px;
	padding-left: 20px;
	position: relative;
	left: 80px;
	
	position: relative;

}

nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

nav a:hover {
	color: black;
}

#welcome {
	display: inline-block;
	font-size: 34px;
	padding-top:20px;
	color: white;
	position: relative;
	left: 0px;
}

#passgenpro {
	position: relative;
	left: 20px;
	font-size: 18px;
}

#passgen {
	position: relative;
	left: 15px;
}

#tophead {
	position: relative;
	left: 10px;
}

#firstsub {
	position: relative;
	left: 620px;
	bottom: 600px;
}

#contain {
	min-height: -10px;
}

#main {
	overflow: auto;
	padding-bottom:100px;

}
#footer {
	background-color: lightseagreen;
	position: relative;
	height: 100px;
	margin-top: -100px;
	clear: both;
}

#socialmediaicons ul li {display: inline;}
#socialmediaicons {
	padding-top: 10px;
	margin-left: 10px;
}



